<!DOCTYPE html>
<html>
<head>
    <title>Invitation to join organization</title>
</head>
<body>
    <p>Dear {{ invitation.invitee.first_name }},</p>
    <p>You have been invited to join {{ invitation.organization.name }} by {{ invitation.invited_by.first_name }}.</p>
    <p>Please accept the invitation by sending a POST request to the following URL:</p>
    <p>You can click the link below to accept the invitation directly:</p>
    <form action="{{ accept_url }}" method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit">Accept Invitation</button>
    </form>
    <p>"token": "{{ token }}"</p>
    <p>Thank you!</p>
    <p>{{ invitation.organization.name }} Team</p>
</body>
</html>
